In [2]:
#importing Libraries

import pandas as pd
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm

* pandas to create dataframe
* BeautifulSoup to do web scraping

In [3]:
#the url of the first page
url = "https://www.imdb.com/list/ls068082370/"

In [4]:
def all_page_link(start_url):
    all_urls = []
    url = start_url
    while(url != None):            
        all_urls.append(url)
        soup = BeautifulSoup(requests.get(url).text,"html.parser")
        next_links = soup.find_all(class_='flat-button lister-page-next next-page')    
        if (len(next_links) == 0):         
            url = None
        else:
            next_page = "https://www.imdb.com" + next_links[0].get('href')
            url = next_page
    return all_urls

director_and_actor is a function used to separate director and actor, as they are present in the same string

In [5]:
def director_and_actor(Director_and_star):
    Director_and_star =  Director_and_star.replace("\n","")
    Director_and_star = Director_and_star.replace("|","")
    Director_and_star = Director_and_star.split("Stars:")
    Director_and_star[0] = Director_and_star[0].replace("Director:","")
    Director_and_star[0] = Director_and_star[0].replace("Directors:","")
    for i in range(10):
        Director_and_star[0]=Director_and_star[0].replace("  "," ")
    director = Director_and_star[0][1:]
    stars = Director_and_star[1]
    stars = stars.replace(":","")
    return director,stars

Function to separate votes and gross, as they are present in the same string

In [6]:
def votes_and_gross_conveter(votes_and_gross):
    votes_and_gross_list = []    
    for i in votes_and_gross:
        votes_and_gross_list.append(i.text)
    if(len(votes_and_gross)==2):
        votes=votes_and_gross_list[0]
        gross = votes_and_gross_list[1]
    else:
        votes=votes_and_gross_list[0]
        gross = None
    
    return votes,gross

* "main_array" = stores all the big data.!
* "id" = stores the id number of a movie.
* "name" = Stores the name of the movie.
* "year" = Stores the year in which the movie was released.
* "run_time" = Stores the total runtime in minutes.
* "genre" = Stores the type of movie.
* "rating" = Stores the IMDb rating of the movie.
* "about" = Stores a short discription about the movie.
* "director" = stores the name of the director.
* "actors" = Stores the name of the director.
* "votes" = Stores the number of votes of the movie.
* "gross" = Stores the net income of the movie.

In [7]:
main_array = []
for url in tqdm(all_page_link("https://www.imdb.com/list/ls068082370/")):     #Runs the function for all the pages.
    soup = BeautifulSoup(requests.get(url).text,"html.parser")         #Extracts out the main html code.
    for link in soup.find_all(class_='lister-item-content'):
        id = int(link.find('span',{"class":"lister-item-index unbold text-primary"}).text[:-1])
        name = link.find('a').text
        year = link.find('span',{"class":"lister-item-year text-muted unbold"}).text[1:5]
        run_time = link.find('span',{"class":"runtime"}).text
        genre = link.find('span',{"class":"genre"}).text[1:]
        rating = link.find('span',{"class":"ipl-rating-star__rating"}).text
        about = link.find_all('p')[1].text[5:]
        director,actors = director_and_actor(link.find_all('p',{"class":"text-muted text-small"})[1].text)
        votes, gross = votes_and_gross_conveter(link.find_all('span',{"name":"nv"}))
        votes = int(votes.replace(",",""))
        list_of_all = [id,name,year,run_time,genre,rating,about,director,actors,votes,gross]
        main_array.append(list_of_all)

100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:31<00:00, 10.68s/it]

In [8]:
#this index variable contains the name of the columns of the data frame.
index = ["id","name","year","run_time","genre","rating","about","director","actors","votes","gross"]

In [9]:
df = pd.DataFrame(main_array,columns=index)   #creating the DataFrame using "main_array"

In [10]:
df

,id,name,year,run_time,genre,rating,about,director,actors,votes,gross
0,1,The Shawshank Redemption,1994,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",2123733,$28.34M
1,2,The Godfather,1972,175 min,"Crime, Drama",9.2,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",1458140,$134.97M
2,3,The Dark Knight,2008,152 min,"Action, Crime, Drama",9,When the menace known as The Joker emerges fro...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",2088869,$534.86M
3,4,The Godfather: Part II,1974,202 min,"Crime, Drama",9,The early life and career of Vito Corleone in ...,Francis Ford Coppola,"Al Pacino, Robert De Niro, Robert Duvall, Dian...",1014144,$57.30M
4,5,Pulp Fiction,1994,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"John Travolta, Uma Thurman, Samuel L. Jackson,...",1663444,$107.93M
5,6,Schindler's List,1993,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",Steven Spielberg,"Liam Neeson, Ralph Fiennes, Ben Kingsley, Caro...",1102012,$96.90M
6,7,The Lord of the Rings: The Return of the King,2003,201 min,"Adventure, Drama, Fantasy",8.9,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",1511063,$377.85M
7,8,12 Angry Men,1957,96 min,Drama,8.9,A jury holdout attempts to prevent a miscarria...,Sidney Lumet,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ...",604813,$4.36M
8,9,"Il buono, il brutto, il cattivo",1966,161 min,Western,8.8,A bounty hunting scam joins two men in an unea...,Sergio Leone,"Clint Eastwood, Eli Wallach, Lee Van Cleef, Al...",630845,$6.10M
9,10,Forrest Gump,1994,142 min,"Drama, Romance",8.8,"The presidencies of Kennedy and Johnson, the e...",Robert Zemeckis,"Tom Hanks, Robin Wright, Gary Sinise, Sally Field",1633113,$330.25M
10,11,Inception,2010,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",1862008,$292.58M
11,12,The Lord of the Rings: The Fellowship of the Ring,2001,178 min,"Adventure, Drama, Fantasy",8.8,A meek Hobbit from the Shire and eight compani...,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",1526634,$315.54M
12,13,Fight Club,1999,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,David Fincher,"Brad Pitt, Edward Norton, Meat Loaf, Zach Grenier",1697520,$37.03M
13,14,Dangal,2016,161 min,"Action, Biography, Drama",8.4,Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",126988,$12.39M
14,15,Star Wars: Episode V - The Empire Strikes Back,1980,124 min,"Action, Adventure, Fantasy",8.7,After the Rebels are brutally overpowered by t...,Irvin Kershner,"Mark Hamill, Harrison Ford, Carrie Fisher, Bil...",1063515,$290.48M
15,16,Star Wars,1977,121 min,"Action, Adventure, Fantasy",8.6,Luke Skywalker joins forces with a Jedi Knight...,George Lucas,"Mark Hamill, Harrison Ford, Carrie Fisher, Ale...",1132540,$322.74M
16,17,The Matrix,1999,136 min,"Action, Sci-Fi",8.7,A computer hacker learns from mysterious rebel...,"Lana Wachowski, Lilly Wachowski","Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",1527675,$171.48M
17,18,Goodfellas,1990,146 min,"Biography, Crime, Drama",8.7,The story of Henry Hill and his life in the mo...,Martin Scorsese,"Robert De Niro, Ray Liotta, Joe Pesci, Lorrain...",917379,$46.84M
18,19,One Flew Over the Cuckoo's Nest,1975,133 min,Drama,8.7,A criminal pleads insanity after getting into ...,Milos Forman,"Jack Nicholson, Louise Fletcher, Will Sampson,...",840633,$112.00M
19,20,Cidade de Deus,2002,130 min,"Crime, Drama",8.6,"In the slums of Rio, two kids' paths diverge a...","Fernando Meirelles, Kátia Lund","Alexandre Rodrigues, Leandro Firmino, Matheus ...",651129,$7.56M
20,21,The Lord of the Rings: The Two Towers,2002,179 min,"Adventure, Drama, Fantasy",8.7,While Frodo and Sam edge closer to Mordor with...,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",1366541,$342.55M
21,22,Shichinin no samurai,1954,207 min,"Adventure, Drama",8.6,A poor village under attack by bandits recruit...,Akira Kurosawa,"Toshirô Mifune, Takashi Shimura, Keiko Tsushim...",287795,$0.27M
22,23,Interstellar,2014,169 min,"Adventure, Drama, Sci-Fi",8.6,A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",1319062,$188.02M
23,24,Kimi no na wa.,2016,106 min,"Animation, Drama, Fantasy",8.4,Two strangers find themselves linked in a biza...,Makoto Shinkai,"Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô Nari...",140114,$5.02M
24,25,The Silence of the Lambs,1991,118 min,"Crime, Drama, Thriller",8.6,A young F.B.I. cadet must receive the help of ...,Jonathan Demme,"Jodie Foster, Anthony Hopkins, Lawrence A. Bon...",1149342,$130.74M
25,26,Léon,1994,110 min,"Action, Crime, Drama",8.6,"Mathilda, a 12-year-old girl, is reluctantly t...",Luc Besson,"Jean Reno, Gary Oldman, Natalie Portman, Danny...",938401,$19.50M
26,27,Se7en,1995,127 min,"Crime, Drama, Mystery",8.6,"Two detectives, a rookie and a veteran, hunt a...",David Fincher,"Morgan Freeman, Brad Pitt, Kevin Spacey, Andre...",1304234,$100.13M
27,28,Saving Private Ryan,1998,169 min,"Drama, War",8.6,"Following the Normandy Landings, a group of U....",Steven Spielberg,"Tom Hanks, Matt Damon, Tom Sizemore, Edward Burns",1125085,$216.54M
28,29,The Usual Suspects,1995,106 min,"Crime, Mystery, Thriller",8.5,A sole survivor tells of the twisty events lea...,Bryan Singer,"Kevin Spacey, Gabriel Byrne, Chazz Palminteri,...",916635,$23.34M
29,30,Sen to Chihiro no kamikakushi,2001,125 min,"Animation, Adventure, Family",8.6,"During her family's move to the suburbs, a sul...","Hayao Miyazaki, Kirk Wise","Daveigh Chase, Suzanne Pleshette, Miyu Irino, ...",566394,$10.06M
...,...,...,...,...,...,...,...,...,...,...,...
220,221,The Wizard of Oz,1939,102 min,"Adventure, Family, Fantasy",8,Dorothy Gale is swept away from a farm in Kans...,"Victor Fleming, George Cukor, Mervyn LeRoy, No...","Judy Garland, Frank Morgan, Ray Bolger, Bert Lahr",354910,$2.08M
221,222,Rush,I) (,123 min,"Action, Biography, Drama",8.1,The merciless 1970s rivalry between Formula On...,Ron Howard,"Daniel Brühl, Chris Hemsworth, Olivia Wilde, A...",397341,$26.95M
222,223,The Truman Show,1998,103 min,"Comedy, Drama, Sci-Fi",8.1,An insurance salesman discovers his whole life...,Peter Weir,"Jim Carrey, Ed Harris, Laura Linney, Noah Emme...",847991,$125.62M
223,224,Platoon,1986,120 min,"Drama, War",8.1,A young soldier in Vietnam faces a moral crisi...,Oliver Stone,"Charlie Sheen, Tom Berenger, Willem Dafoe, Kei...",354596,$138.53M
224,225,Million Dollar Baby,2004,132 min,"Drama, Sport",8.1,A determined woman works with a hardened boxin...,Clint Eastwood,"Hilary Swank, Clint Eastwood, Morgan Freeman, ...",591045,$100.49M
225,226,The Bourne Ultimatum,2007,115 min,"Action, Mystery, Thriller",8,Jason Bourne dodges a ruthless C.I.A. official...,Paul Greengrass,"Matt Damon, Edgar Ramírez, Joan Allen, Julia S...",582050,$227.47M
226,227,Stalker,1979,162 min,"Drama, Sci-Fi",8.2,A guide leads two men through an area known as...,Andrei Tarkovsky,"Alisa Freyndlikh, Aleksandr Kaydanovskiy, Anat...",99710,$0.23M
227,228,Relatos salvajes,2014,122 min,"Comedy, Drama, Thriller",8.1,Six short stories that explore the extremities...,Damián Szifron,"Darío Grandinetti, María Marull, Mónica Villa,...",153528,$3.11M
228,229,Hachi: A Dog's Tale,2009,93 min,"Drama, Family",8.1,A college professor bonds with an abandoned do...,Lasse Hallström,"Richard Gere, Joan Allen, Cary-Hiroyuki Tagawa...",226315,None
229,230,How to Train Your Dragon,2010,98 min,"Animation, Action, Adventure",8.1,A hapless young Viking who aspires to hunt dra...,"Dean DeBlois, Chris Sanders","Jay Baruchel, Gerard Butler, Christopher Mintz...",617511,$217.58M
230,231,Annie Hall,1977,93 min,"Comedy, Romance",8,Neurotic New York comedian Alvy Singer falls i...,Woody Allen,"Woody Allen, Diane Keaton, Tony Roberts, Carol...",237976,$39.20M
231,232,Ben-Hur,1959,212 min,"Adventure, Drama, History",8.1,When a Jewish prince is betrayed and sent into...,William Wyler,"Charlton Heston, Jack Hawkins, Stephen Boyd, H...",203290,$74.70M
232,233,Before Sunrise,1995,101 min,"Drama, Romance",8.1,A young man and woman meet on a train in Europ...,Richard Linklater,"Ethan Hawke, Julie Delpy, Andrea Eckert, Hanno...",241193,$5.54M
233,234,Faa yeung nin wa,2000,98 min,"Drama, Romance",8.1,"Two neighbors, a woman and a man, form a stron...",Kar-Wai Wong,"Tony Chiu-Wai Leung, Maggie Cheung, Ping Lam S...",107368,$2.73M
234,235,Hotel Rwanda,2004,121 min,"Biography, Drama, History",8.1,Paul Rusesabagina was a hotel manager who hous...,Terry George,"Don Cheadle, Sophie Okonedo, Joaquin Phoenix, ...",315587,$23.53M
235,236,Butch Cassidy and the Sundance Kid,1969,110 min,"Biography, Crime, Drama",8,"Wyoming, early 1900s. Butch Cassidy and The Su...",George Roy Hill,"Paul Newman, Robert Redford, Katharine Ross, S...",188989,$102.31M
236,237,Gandhi,1982,191 min,"Biography, Drama, History",8,Gandhi's character is fully explained as a man...,Richard Attenborough,"Ben Kingsley, John Gielgud, Rohini Hattangadi,...",208804,$52.77M
237,238,Barry Lyndon,1975,185 min,"Adventure, Drama, History",8.1,An Irish rogue wins the heart of a rich widow ...,Stanley Kubrick,"Ryan O'Neal, Marisa Berenson, Patrick Magee, H...",134049,None
238,239,Salinui chueok,2003,131 min,"Action, Crime, Drama",8.1,"In a small Korean province in 1986, three dete...",Joon-ho Bong,"Kang-ho Song, Sang-kyung Kim, Roe-ha Kim, Jae-...",103297,$0.01M
239,240,Life of Brian,1979,94 min,Comedy,8.1,Born on the original Christmas in the stable n...,Terry Jones,"Graham Chapman, John Cleese, Michael Palin, Te...",338005,$20.05M
240,241,Mou gaan dou,2002,101 min,"Crime, Drama, Mystery",8.1,A story between a mole in the police departmen...,"Andrew Lau Wai-Keung, Alan Mak","Andy Lau, Tony Chiu-Wai Leung, Anthony Chau-Sa...",111470,$0.17M
241,242,La haine,1995,98 min,"Crime, Drama",8.1,24 hours in the lives of three young men in th...,Mathieu Kassovitz,"Vincent Cassel, Hubert Koundé, Saïd Taghmaoui,...",133221,$0.31M
242,243,In the Name of the Father,1993,133 min,"Biography, Drama",8.1,A man's coerced confession to an IRA bombing h...,Jim Sheridan,"Daniel Day-Lewis, Pete Postlethwaite, Alison C...",142911,$25.01M
243,244,Amores perros,2000,154 min,"Drama, Thriller",8.1,A horrific car accident connects three stories...,Alejandro G. Iñárritu,"Emilio Echevarría, Gael García Bernal, Goya To...",208476,$5.38M
244,245,Network,1976,121 min,Drama,8.1,A television network cynically exploits a dera...,Sidney Lumet,"Faye Dunaway, William Holden, Peter Finch, Rob...",132766,None
245,246,Kaze no tani no Naushika,1984,117 min,"Animation, Adventure, Fantasy",8.1,Warrior and pacifist Princess Nausicaä despera...,Hayao Miyazaki,"Sumi Shimamoto, Mahito Tsujimura, Hisako Kyôda...",129756,$0.50M
246,247,The Maltese Falcon,1941,100 min,"Film-Noir, Mystery",8,A private detective takes on a case that invol...,John Huston,"Humphrey Bogart, Mary Astor, Gladys George, Pe...",141555,$2.11M
247,248,Persona,1966,85 min,"Drama, Thriller",8.1,A nurse is put in charge of a mute actress and...,Ingmar Bergman,"Bibi Andersson, Liv Ullmann, Margaretha Krook,...",88400,None
248,249,The Grapes of Wrath,1940,129 min,"Drama, History",8,A poor Midwest family is forced off their land...,John Ford,"Henry Fonda, Jane Darwell, John Carradine, Cha...",81640,$0.06M
249,250,Jaws,1975,124 min,"Adventure, Drama, Thriller",8,When a killer shark unleashes chaos on a beach...,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",515724,$260.00M

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
id          250 non-null int64
name        250 non-null object
year        250 non-null object
run_time    250 non-null object
genre       250 non-null object
rating      250 non-null object
about       250 non-null object
director    250 non-null object
actors      250 non-null object
votes       250 non-null int64
gross       218 non-null object
dtypes: int64(2), object(9)
memory usage: 21.6+ KB

In [14]:
df.shape

(250, 11)

In [15]:
df.columns

Index(['id', 'name', 'year', 'run_time', 'genre', 'rating', 'about',
       'director', 'actors', 'votes', 'gross'],
      dtype='object')